<!DOCTYPE html>
<html lang="es">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <!--Estilos de BS-->
  <link rel="stylesheet" href="../CSSBS/bootstrap.css">
  <!--Estilos propios-->
  <link rel="stylesheet" href="../css/estilospropios.css">
  <!--Estilos de SCSS transpilados a CSS PURO-->
  <link rel="stylesheet" href="../css/style.css">
  <!--Icons de BS-->
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.1/font/bootstrap-icons.css">
  <!--Fonts-->
  <link rel="preconnect" href="https://fonts.googleapis.com" />
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
  <link href="https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@200;300;600&display=swap" rel="stylesheet" />

  <!--SEO-->
  <meta name="keywords" content="dior,carteras,marca de lujo,">
  <title>Preguntas Frecuentes</title>
  <!--Description-->
  <meta name="description"
    content="Preguntas frecuentes de Dior y su bolso Lady, envio,sucursales,quejas,devolucion,cambios">
</head>

<body>
  <header>
    <!--Inicio navbar de BS-->
    <nav class="navbar navbar-expand-sm navbar-expand-md navbar-expand-lg navbar-expand-xl navbar-dark bg-dark">
      <div class="container-fluid">
        <a class="navbar-brand" href="#">Navbar</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown"
          aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavDropdown">
          <ul class="navbar-nav">
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="/index.html">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/views/nosotros.html">Nosotros</a>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="/views/coleccion.html" id="navbarDropdownMenuLink" role="button"
                data-bs-toggle="dropdown" aria-expanded="false">
                Coleccion
              </a>
              <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                <li><a class="dropdown-item" href="/dropdown/novedades.html">NOVEDADES</a></li>
                <li><a class="dropdown-item" href="/dropdown/minis.html">BOLSOS MINIS</a></li>
                <li><a class="dropdown-item" href="/dropdown/peques.html">BOLSOS PEQUEÑOS</a></li>
                <li><a class="dropdown-item" href="/dropdown/medianas.html">BOLSOS MEDIANOS</a></li>
              </ul>
            </li>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/views/faqs.html">Faqs</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/views/contacto.html">contacto</a>
            </li>

          </ul>
        </div>
      </div>
    </nav>
    <!--Fin navbar de BS-->

  </header>
  <main>

    <div
      class="container container-fluid container-sm container-md container-lg container-xl container-xxl g-3 m-5 bg-gradient text-center">
      <h3> PREGUNTAS FRECUENTES</h3>
      <div class="row p-3">
        <div class="col-12 col-sm-12 col-md-12 col-lg-6 col-xl-6 gy-5 ">
          <ul class="list-inline">
            <li class="list-inline-item">
              <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Cupiditate veniam cum commodi quasi,
                recusandae, vitae voluptas unde nulla voluptatem dolor rem nam expedita saepe consequuntur eligendi
                debitis, delectus incidunt facilis.</p>
            </li>
            <li class="list-inline-item">
              <p> Lorem ipsum dolor sit amet consectetur adipisicing elit. Suscipit eveniet soluta, reprehenderit
                consequuntur quidem fuga nobis totam neque qui non aliquid adipisci aliquam sapiente voluptatibus
                praesentium vel necessitatibus quaerat officiis!</p>
            </li>
            <li class="list-inline-item">
              <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Magni, distinctio? Obcaecati optio est
                aspernatur, nulla aperiam, saepe officia soluta nihil nam dolorum eligendi labore rerum eius veniam
                molestiae velit eos!</p>.
            </li>
            <li class="list-inline-item">
              <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Repellendus magni architecto sunt natus animi
                consequuntur. Ex eos adipisci quibusdam numquam voluptate exercitationem! Eaque enim ipsum vel quis
                dicta officia doloribus.</p>
            </li>
            <li class="list-inline-item">
              <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Fuga enim voluptate eveniet sed est vel
                excepturi ut nulla beatae. Atque repudiandae iusto minima neque corrupti dolorem id laboriosam molestias
                cupiditate.</p>
            </li>
          </ul>
        </div>
        <div class="col-12 col-sm-12 col-md-12 col-lg-6 col-xl-6 gy-5 ">
          <img
            src="https://www.dior.com/couture/var/dior/storage/images/pushs-editos/folder-microbags/s0856ongem49p/24742754-1-eng-GB/s0856ongem49p_1440_1200.jpg"
            alt="publicidad de bolsos lady dior mini" style="width: 100%;">
        </div>
      </div>
    </div>
  </main>
  <!-- Inicio del Footer -->
  <footer>
    
    <span class="botonFooter-facebook"> <a href="http://facebook.com" target="_blank">Facebook</a> </span>
    <span class="botonFooter-instagram"> <a href="http://instagram.com" target="_blank"></a>Instagram </span>
    <span class="botonFooter-whatsapp"> <a href="http://whatsapp.com" target="_blank"></a>whatsapp</span>
    <p class="copy">&COPY; 2022 All Rights Reserved &reg; Service & Co. </p>
  </footer>
  <!--Fin del Footer-->
  <!--Javascrip de BS-->
  <script src="../js/bootstrap.js"></script>
</body>

</html>