<!DOCTYPE html>
<html lang="es">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <!--Estilos de BS-->
  <link rel="stylesheet" href="../CSSBS/bootstrap.css">
  <!--Estilos propios-->
  <link rel="stylesheet" href="../css/estilospropios.css">
  <!--Estilos de SCSS transpilados a CSS PURO-->
  <link rel="stylesheet" href="../css/style.css">
  <!--Icons de BS-->
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.1/font/bootstrap-icons.css">
  <!--Fonts-->
  <link rel="preconnect" href="https://fonts.googleapis.com" />
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
  <link href="https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@200;300;600&display=swap" rel="stylesheet" />
  <!--SEO-->
  <meta name="keywords" content="dior,carteras,marcas de lujo,moda,">
  <title>Historia de nuestro bolso Lady Dior</title>
  <!--Description-->
  <meta name="description" content="Historia de nuestro bolso Lady Dior">
</head>

<body>
  <header>
    <!--Inicio navbar de BS-->
    <nav class="navbar navbar-expand-sm navbar-expand-md navbar-expand-lg navbar-expand-xl navbar-dark bg-dark">
      <div class="container-fluid">
        <a class="navbar-brand" href="#">Navbar</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown"
          aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavDropdown">
          <ul class="navbar-nav">
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="/index.html">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/views/nosotros.html">Nosotros</a>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="/views/coleccion.html" id="navbarDropdownMenuLink" role="button"
                data-bs-toggle="dropdown" aria-expanded="false">
                Coleccion
              </a>
              <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                <li><a class="dropdown-item" href="/dropdown/novedades.html">NOVEDADES</a></li>
                <li><a class="dropdown-item" href="/dropdown/minis.html">BOLSOS MINIS</a></li>
                <li><a class="dropdown-item" href="/dropdown/peques.html">BOLSOS PEQUEÑOS</a></li>
                <li><a class="dropdown-item" href="/dropdown/medianas.html">BOLSOS MEDIANOS</a></li>
              </ul>
            </li>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/views/faqs.html">Faqs</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/views/contacto.html">contacto</a>
            </li>

          </ul>
        </div>
      </div>
    </nav>
    <!--Fin navbar de BS-->
  </header>
  <main>
    <!--Inicio seccion Nosotros de BS-->
    <h3 class=" text-center bg-dark text-light img-fluid m-4 p-2">NUESTRA HISTORIA</h3>
    <div class="container-fluid container-sm container-md container-lg container-xl p-3 m-3 ">
      <div class="row p-3">
        <div class=" col-sm-12 col-md-12 col-lg-6 col-xl-6 col-xxl-6">
          <img class=" img-fluid p-5 m-5 "
            src=" https://hips.hearstapps.com/es.h-cdn.co/fotoes/images/moda-cine/lady-dior.-biografia-de-un-bolso/lady-di2/26998194-1-esl-ES/lady-di2.jpg"
            style="left: auto;" alt="Lady Di fotografiada con el bolso Lady Dior">
        </div>
        <div class="col-sm-12 col-md-12 col-lg-6 col-xl-6 col-xxl-6  align-content-end">
          <p class="bg-light p-4 m-2 small ">Hay momentos que quedarán para siempre en la historia de la
            moda, instantes que
            cambiaron el giro de lo anteriormente visto o que, de alguna manera, dieron comienzo a algo totalmente
            novedoso. La aparición de Diana de Gáles con el icónico bolso Lady Dior de la maison fue uno de ellos.

            Fue en 1995 cuando la llamada Princesa del Pueblo, de visita en Francia, apareció por primera vez con este
            accesorio. Lady Di pidió a la casa francesa que diseñara un regalo especial para ella, y la elección fue
            este original bolso. Los flashes capturaron esta instantánea y la pieza se convirtió en una de las más
            aclamadas y de ahí vino su nombre actual, en referencia a la royal: Lady Dior.

            Un símbolo, un icono de la firma que décadas después continúa siendo uno de los diseños más aclamados.
            Confeccionado en piel y adornado con los ya míticos charms (las cuatro letras), inspirados en los amuletos
            de la suerte de Christian Dior, y con el acolchado característico que supone un guiño a las sillas de
            Napoleón III en las que se sentaban los invitados a los desfiles.

            Un accesorio totalmente atemporal que ha sido rediseñado en numerosas ocasiones con diferentes formatos y
            variaciones. En la actualidad, la casa ha incluido este diseño en dos proyectos atrevidos que además de
            situarlo en el centro de las miradas también provocan una gran unión entre moda y arte. Hablamos de la
            exposición Lady Dior As Seen By y, en segundo lugar, el proyecto Dior Lady Art, que ofrece a todo tipo
            artistas "carta blanca" para reinterpretar la pieza. Una forma de seguir homenajeando a uno de los emblemas
            de la maison.
          </p>
        </div>
      </div>
    </div>


    <!--Fin Seccion Nosotros de BS-->
  </main>
  <!--Inicio del footer-->
  <footer>
    
    <span class="botonFooter-facebook"> <a href="http://facebook.com" target="_blank">Facebook</a> </span>
    <span class="botonFooter-instagram"> <a href="http://instagram.com" target="_blank"></a>Instagram </span>
    <span class="botonFooter-whatsapp"> <a href="http://whatsapp.com" target="_blank"></a>whatsapp</span>
    <p class="copy">&COPY; 2022 All Rights Reserved &reg; Service & Co. </p>
  </footer>
  <!-- Fin del Footer -->
  <!--Javascrip de BS-->
  <script src="../js/bootstrap.js"></script>

</body>

</html>